/* Contenedor de secciones en grid */
.contenido-inicio {
  container-name: inicio-contenido;
  animation: aparecer 2.4s 0s both;
  opacity: 0;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contenedor__seccion-semInforma {
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 10% cover 40%;
}

.contenedor__texto {
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 10% cover 40%;
}

#noticias {
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 10% cover 40%;
}
