.contenedor__seccion {
  width: 100%;
  margin: 0 auto; /* centra horizontalmente */
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.contenedor__seccion--inicio {
  flex-direction: column;
  box-sizing: border-box;
}
 


