/*TIPOGRAFIAS*/
.raleway-default {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* RESET GENERAL */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
button {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #101632dd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto; /* centra horizontalmente */
  padding: 0 1rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 2rem;
}

.contenedor__seccion {
  width: 100%;
  margin: 0 auto; /* centra horizontalmente */
  padding: 0 1rem;
  display: flex;
  box-sizing: border-box;
}

.contenedor__seccion--inicio {
  flex-direction: column;
}

.contenedor__seccion--noticias{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 