/* Contenedor general */
#noticias {
  margin: 1em;
  text-align: center;
  height: 100%;
  position: relative;
}
/* Contenedor del carrusel */
.contenedor__carrusel {
  overflow: hidden;
  max-width: 1000px;
  margin: auto;
  height: auto;
}

/* Track que contiene todos los slides */
.carrusel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: space-around;
  gap: 0.5rem;
  height: fit-content;
  margin: 1rem;
}

/* Cada slide */
.carrusel-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: fit-content;
}

/* Tarjeta individual */
.carta {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  border-radius: 0.5em;
  overflow: hidden;
  max-width: 50%; /*porcentaje del contenedor padre */
  text-align: center;
  transition: transform 0.3s;
}

.carta:hover {
  transform: scale(1.05);
}

.carta img {
  width: 50%; /*porcentaje del contenedor de la caja carta*/
  height: auto;
}

.carta-titulo {
  padding: 0.5em;
  font-size: 1em;
}

.carta-titulo a {
  text-decoration: none;
  color: #0d3072;
}

.carta-titulo a:hover {
  text-decoration: underline;
}

/* Botones de navegación */
.carousel-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.265);
  color: #113b8a;
  border: none;
  padding: 0.3em 0.6em;
  cursor: pointer;
  z-index: 5;
  border-radius: 55%;
  user-select: none;
}

.carousel-btn.prev {
  left: clamp(1em, 3vw, 3em);
}

.carousel-btn.next {
  right: clamp(1em, 3vw, 3em);
}

/* Smartphones pequeños (<=480px) */
@media (max-width: 650px) {
  .carrusel-slide {
    flex-direction: column;
    align-items: center;
  }

  .carta {
    max-width: 55%;
  }

  .carta img {
    width: 80%;
  }

  .carousel-btn {
    font-size: 1.5em;
  }
}

/* Tablets en vertical (601px a 768px) */
@media (min-width: 650px) and (max-width: 768px) {
  .carrusel-slide {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .carta {
    max-width: 50%;
  }

  .carta img {
    width: 60%;
  }
}

/* Tablets en horizontal (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .carta {
    max-width: 40%;
  }

  .carta img {
    width: 55%;
  }
}

/* Laptops (>1024px) */
@media (min-width: 1025px) {
  .carta {
    max-width: 50%;
  }

  .carta img {
    width: 50%;
  }
}
