html{
    scroll-behavior: smooth;
    scrollbar-color: #2651be #fff;

}

@media screen and (max-width: 1024px) {
  html, body {
    overflow: visible;
    scrollbar-width: none; /* Firefox */
  }

  /* Para navegadores WebKit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    display: none;
  }
}
