/* Contenedor de secciones en grid */
.inicio__secciones {
  display: grid;
  grid-template-columns:repeat(4,minmax(300px,1fr));
  width: 100%;
  margin: 0.5em 0;
  gap: 0.3em;
  font-weight: 550;
  justify-content: center;
  max-height: 600px; /* o min-height */
}

/* Contenedor individual de cada sección */
.seccion__contenedor {
  position: relative;
  overflow: hidden;
  flex: 1 1 300px;
  padding: 1rem;
  z-index: 0;
  border-radius: 0.5rem;
  min-height: 200px; /* Ahora funciona */
}

/*CAPA Transparente*/

.contenedor__fondo {
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Capa azul con opacidad encima de la imagen */
.contenedor__fondo::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#454f61, #81a1eb9f, #0d3072a4);
  z-index: 2; /* sigue debajo del texto */
}

/* Contenedor details */
.seccion {
  position: relative;
  z-index: 3; /* Más alto que la capa de fondo */
  color: white;
}

/* Título desplegable */
/*Clase para summary*/
.seccion__titulo {
  position: relative;
  z-index: 3;
  padding: 20px;
  margin: auto;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 0.5rem;
  padding: 2.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.seccion__titulo {
  list-style: none;
  text-shadow: 1px 2px 12px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  line-height: 1;
  font-weight: 650;
  margin-top: 50px;
}

.seccion__titulo:hover {
  transform: scale(1.05);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}

.seccion__titulo::-webkit-details-marker {
  display: none;
}

/* Contenido desplegado */
.seccion__contenido {
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(#0d3072a4);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
}

/* Imagen de fondo por sección: aplicada al summary */
.contenedor_fondo--historia {
  background-image: url("../IMG/SECCIONES_PORTADAS/portadaHistoria.jpg");
}

.contenedor_fondo--congresos {
  background-image: url("../IMG/SECCIONES_PORTADAS/portadaCongreso.jpg");
}

.contenedor_fondo--mesadirec {
  background-image: url("../IMG/SECCIONES_PORTADAS/portadaMesaDirectiva.jpg");
}

.contenedor_fondo--contactos {
  background-image: url("../IMG/SECCIONES_PORTADAS/portadaContactos.jpg");
}

/*CONTENEDOR DESPEGABLE*/
.detalle__contenedor {
  max-height: 0;
  overflow: hidden;
  background-color: #0d3072;
  color: white;
  transition: max-height 0.5s ease;
  padding: 0 2rem;
}

.detalle__contenedor.activo {
  max-height: 300px;
  padding: 2rem;
}

.detalle__contenido {
  font-size: 1.2rem;
}

.detalle__cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
