.inicio__contenedor {
  width: 100%;
  margin: 0 auto; /* centra horizontalmente */
  padding: 0 1rem;
  display: flex;;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
}

.contenedor__video {
  max-width: 100%;
  aspect-ratio: 16/9;
  height: 35em;
  margin: auto;
}

.inicio__video {
  width: 100%;
}


