.inicio {
  max-width: 1200px;
  margin: 0 auto; /* centra horizontalmente */
  display: flex;
  flex-direction: column; /* si quieres elementos uno debajo del otro */
  align-items: center; /* centrado horizontal */
  text-align: center;
}

.contenedor__video {
  max-width: 100%; /* o 600px, 80%, etc. */
  aspect-ratio: 16/9;
  height: 35em;
  margin: auto;
}

.inicio__video {
  width: 100%;
}
