.seccion__congresos {
  width: 100%;
  height: 70%;
  min-height: clamp(60dvh, 80vh, 100dvh); /* Altura legible y adaptable */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: clamp(1rem, 4dvh, 3rem); /* Espaciado vertical adaptable */
  box-sizing: border-box;
}

/* Capa de desenfoque */
/* Fondo base desenfocado */
.fondo-blur {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #ffffff88, #00000099);
  backdrop-filter: blur(40px);
  z-index: 0;
}

.contenedor__congresos {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 90vw;
  height: 100%;
  max-height: 80dvh;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.lista__congresos {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item__congreso {
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 160px;
  transition: steps(50) 0.5s;
  cursor: pointer;
  float: left;
  filter: brightness(80%);
}

.contenedor__congresos ul:hover li {
  width: 60px;
  filter: brightness(50%);
}

.contenedor__congresos ul li:hover {
  width: 100%;
  filter: brightness(100%);
}

.img__congreso {
  display: block;
  object-fit: cover;
  height: 100%;
  object-position: center;
}

.img__congreso-10 {
  object-fit: contain;
}
