/* Contenedor de secciones en grid */
.seccion__mesaDirec {
  container-name: inicio-contenido;
  animation: aparecer 1s 0s both;
  opacity: 0;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fila{
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 5% cover 40%;
}

