@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes gradientFlow {
  0%,
  100% {
    --angle: 60deg;
    background-size: 250% 250%;
  }
  25% {
    --angle: 120deg;
    background-size: 300% 300%;
  }
  50% {
    --angle: 180deg;
    background-size: 250% 250%;
  }
  75% {
    --angle: 240deg;
    background-size: 300% 300%;
  }
}

.fondo-blur {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background: conic-gradient(
    from var(--angle),
    #113b8a53 0deg,
    #304d9c 60deg,
    #375da3 120deg,
    #7e94d0 180deg,
    #5a78afb8 240deg,
    #455c9d 300deg,
    #113b8a 360deg
  );
  animation: gradientFlow 15s ease infinite;
  backdrop-filter: blur(20px);
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(80px) brightness(85%);
}

body {
  position: relative;
  background: none;
}

main {
  position: relative;
  background: none;
}

h1 {
  display: none;
}
