.contenedor__seccion-semInforma {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-evenly;
  min-height: clamp(300px, 60dvh, 600px);
}

.contenedor__video-semInforma {
  aspect-ratio: 9 / 16;
  max-height: clamp(800px, 70dvh, 900px); /* o lo que necesites */
  width: clamp(250px, 30vw, 400px);
  max-width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1rem;
}

/* WRAPPER: centra y limita el ancho del video */
.contenedor__video-wrapper {
  min-width: clamp(250px, 25vw, 400px);
  justify-content: center;
  align-items: center;
  max-height: clamp(800px, 70dvh, 900px); /* o lo que necesites */

  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  border-radius: 0.5rem;
}

.video__semInforma {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
}

.contenedor__texto {
  flex: 1 1 300px;
  min-width: 250px;
  max-width: 600px;
  align-self: center;
  line-height: 1.7;
}

.contenedor__texto p {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: clamp(1rem, 2.5vw, 1.125rem);
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  text-wrap: pretty;
}

.contenedor__texto h2 {
  font-size: clamp(1.5rem, 3vw, 2rem); /* Igual que .historia__origen h2 */
  margin-bottom: 0.3rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .contenedor__seccion-semInforma {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2.3rem;
  }

  .contenedor__texto {
    padding: 0 5dvw;
    max-width: 80ch;
  }
}
